@font-face {
    font-family: 'Cabin', sans-serif;
    src: url("fonts/Cabin.zip");
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Cabin', sans-serif;
}


/* Navbar Styles */


nav {
    width: 100%;
    height: 10vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
}

.logo {
    width: 65%;
    padding-top: 13px;

}

.logo img {
    width: 20%;
    height: 6vh;
    margin-left: 3em;
    cursor: pointer;
}

.buttons {
    width: 22%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 3em;
}


.white-button {
    font-size: 1.2em;
    width: 30%;
    cursor: pointer;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid #E11F72;
    transition: .4s;
}

.white-button a {

    text-decoration: none;
    color: #E11F72;

}

.white-button:hover {
    box-shadow: 1px 1px 3px black;
}

.pink-button {
    font-size: 1.2em;
    width: 30%;
    height: 70%;
    background-color: #E11F72;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    transition: .4s;
}

.pink-button a {
    text-decoration: none;
    color: white;
}

.pink-button:hover {
    box-shadow: 1px 1px 3px black;
}

.cart-icon {
    width: 10%;
    height: 100%;
}

.cart-icon i {
    font-size: 2em;
    color: #E11F72;
    padding-top: 20px;
    cursor: pointer;
}


/* Hero Styles */


.hero-main {
    width: 100%;
    height: 85vh;
    display: flex;
    background-color: #F7F7F7;
}

.hero-text {
    width: 65%;
    height: 100%;
}

.hero-text>p {
    width: 90%;
    font-size: 50px;
    line-height: 1.3em;
    padding-top: 3em;
    padding-left: 1em;

}

.hero-input {
    width: 80%;
    height: 15%;
    margin-top: 10px;
    margin-left: 3em;
    padding: 18px 10px;
    background-color: white;
    border-radius: 15px;
    border: none;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.hero-input-box {
    width: 80%;
    height: 90%;
    font-size: 1.1em;
    padding: 10px 20px;
    padding-right: 3em;
    border-radius: 10px;
    border: 1px solid grey;

}

.hero-input i {
    color: #E11F72;
    font-size: 1.4em;
    position: relative;
    right: 40px;
    top: 3px;

}

.find-food-button {
    font-size: 1.2em;
    width: 120px;
    height: 50px;
    border-radius: 13px;
    border: none;
    background-color: #E11F72;
    color: white;
    transition: .4s;
    cursor: pointer;
}

.find-food-button:hover {
    box-shadow: 2px 1px 5px black;
}

.hero-box {
    width: 35%;
    height: 100%;
}

.hero-box img {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
}

.text {
    width: 100%;
    height: 20vh;
}

.text>p {
    display: inline-block;
    font-size: 2.8em;
    margin-left: 1em;
    margin-top: 1em;
}

/* chef styles */

.chef-box {
    width: 100%;
    height: 80vh;
}

.chef-box img {
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: -1;
}

.chef-content{
    width: 50%;
    height: 55vh;
    background-color: white;
    margin-left: 2.7em;
    padding: 35px 30px;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    top: 13em;
}

.chef-content > h4{
    width: 100%;
    font-size: 28px;
}

.chef-content p{
    font-size: 20px;
    word-spacing: 2px;
    margin-top: 25px;
}

.chef-content button{
    width: 150px;
    height: 50px;
    margin-top: 1.5em;
    background-color: #E11F72;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: .4s;

}

.chef-content button:hover{
    box-shadow: rgba(0, 0, 0) 3px 3px 5px;

}


    /* cities styles */

.cities-container{
    width: 100%;
    height: 282vh;
    margin-top: 5em;
    padding-left: 2.5em;
}

.cities-container > p{
    font-size: 2.3em;
    padding-top: 1em;
    padding-left: 15px;
}

.cities{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.card{
    width: 22%;
    height: 12%;
    display: inline-block;
    margin-top: 40px;
    margin-left: 25px;
    border-radius: 20px;
    
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}
.card img:hover{
    
    transform: scale(1.1);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card p{
    width: 120px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 1em;
    margin-left: 5px;
    padding-top: 6px;
    border: 1px solid #E11F72;
    color: #E11F72;
    cursor: pointer;
    transition: .4s;
    
}

.card p:hover{
    background-color: #E11F72;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 4px 4px 2px;


}